body {
    background-image: url(background.jpg);
    margin: 0; /* Remove default margin to ensure full-page background */
}

.info{
    width: 80%;
    background-color:bisque;
    margin-left: auto;
    margin-right: auto;
}

.personal{
    width: 80%;
    background-color:bisque;
    margin-left: auto;
    margin-right: auto;
}

h1, h2{
    text-align: center;
    color: white;
}

h3 {
    text-align: center ;
}